#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.timeline {
  flex: 1;
  max-width: 800px;
  text-align: left; /* let text align naturally */
}

.timeline .MuiTypography-root {
  line-height: 1.4;
  max-width: 100%; /* allow wider text wrapping */
}
